.graphBackground {
    background-color: var(--background);
    padding:10%;
    padding-top:5%;
    border-radius:10px;
}
.graphTitle {
    font-size: 35px;
    text-align: center;
    padding-bottom:5%;
}