.list {
    margin-top:10px;
    margin-left: 30px;
}
.listitem {
    padding: 2px 0;
}
.progressBarContainer {
    width:100%;
    height:30px;
    display:flex;
    flex-direction:row;
    align-items:left;
    background-color:whitesmoke;
    border-radius:15px;
    margin:10px 0;
}
.progressBar {
    background-color:var(--primary);
    border-radius:15px
}
.progressText {
    text-align:right;
    align-content:center;
    margin:auto 0;
    margin-right:5px;
    border-radius:50%;
    height:30px;
    color:var(--foreground);
}