.hsMaGaText {
  width: 100px;
  height: 50px;
  background-color: var(--background-accent);
  animation: bgColor 50s infinite linear;
  border-radius: 100%;
  text-align: center;
  color: white;
  z-index: -1;
}
.hsMaGaText:nth-of-type(1) {animation-delay: -1s}
.hsMaGaText:nth-of-type(2) {animation-delay: -2s}
.hsMaGaText:nth-of-type(3) {animation-delay: -3s}
.hsMaGaText:nth-of-type(4) {animation-delay: -4s}
.hsMaGaText:nth-of-type(5) {animation-delay: -5s}
.hsMaGaText:nth-of-type(6) {animation-delay: -6s}
.hsMaGaText:nth-of-type(7) {animation-delay: -7s}
.hsMaGaText:nth-of-type(8) {animation-delay: -8s}
.hsMaGaText:nth-of-type(9) {animation-delay: -9s}
.hsMaGaText:nth-of-type(10) {animation-delay:-10s}
.hsMaGaText:nth-of-type(11) {animation-delay:-11s}
.hsMaGaText:nth-of-type(12) {animation-delay:-12s}
.hsMaGaText:nth-of-type(13) {animation-delay:-13s}
.hsMaGaText:nth-of-type(14) {animation-delay:-14s}
.hsMaGaText:nth-of-type(15) {animation-delay:-15s}
.hsMaGaText:nth-of-type(16) {animation-delay:-16s}
.hsMaGaText:nth-of-type(17) {animation-delay:-17s}
.hsMaGaText:nth-of-type(18) {animation-delay:-18s}
.hsMaGaText:nth-of-type(19) {animation-delay:-19s}
.hsMaGaText:nth-of-type(20) {animation-delay:-20s}
.hsMaGaText:nth-of-type(21) {animation-delay:-21s}
.hsMaGaText:nth-of-type(22) {animation-delay:-22s}
.hsMaGaText:nth-of-type(23) {animation-delay:-23s}
.hsMaGaText:nth-of-type(24) {animation-delay:-24s}
.hsMaGaText:nth-of-type(25) {animation-delay:-25s}
.hsMaGaText:nth-of-type(26) {animation-delay:-26s}
.hsMaGaText:nth-of-type(27) {animation-delay:-27s}
.hsMaGaText:nth-of-type(28) {animation-delay:-28s}
.hsMaGaText:nth-of-type(29) {animation-delay:-29s}
.hsMaGaText:nth-of-type(30) {animation-delay:-30s}
.hsMaGaText:nth-of-type(31) {animation-delay:-31s}
.hsMaGaText:nth-of-type(32) {animation-delay:-32s}
.hsMaGaText:nth-of-type(33) {animation-delay:-33s}
.hsMaGaText:nth-of-type(34) {animation-delay:-34s}
.hsMaGaText:nth-of-type(35) {animation-delay:-35s}
.hsMaGaText:nth-of-type(36) {animation-delay:-36s}
.hsMaGaText:nth-of-type(37) {animation-delay:-37s}
.hsMaGaText:nth-of-type(38) {animation-delay:-38s}
.hsMaGaText:nth-of-type(39) {animation-delay:-39s}
.hsMaGaText:nth-of-type(40) {animation-delay:-40s}
@keyframes bgColor {
  0% {
    background-color: #f3f5f7;
  }
  10% {
    background-color: #a43535;
  }
  20% {
    background-color: #ff7b00;
  }
  30% {
    background-color: #ffff51;
  }
  40% {
    background-color: #a7ff4e;
  }
  50% {
    background-color: #7addfe;
  }
  60% {
    background-color: #6b6bfd;
  }
  70% {
    background-color: #ca61ff;
  }
  80% {
    background-color: #ff54af;
  }
  90% {
    background-color: #f3bbff;
  }
  100% {
    background-color: #f3f5f7;
  }
}

.flexContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}