@import url('https://fonts.googleapis.com/css?family=Yarndings%2020%20Charted:700|Yarndings%2020%20Charted:400');

:root {
  --background: #f3f5f7;
  --background-accent: #e7e9ea;
  --foreground: #0a0d10;
  --primary: #1873fb;
  --secondary: #c6a9b9;
  --accent: #ec7e54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080a0c;
    --background-accent: #151618;
    --foreground: #eff2f5;
    --primary: #045fe7;
    --secondary: #563949;
    --accent: #aa3e13;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Yarndings 20 Charted'; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

  width: 100%;
  height: 100%;
}
@keyframes rainbow {
  0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 100% 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
